[Unit]
Description=Jenkins Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/jenkins/bin
User=jenkins

[Install]
WantedBy=multi-user.target